:root {
  --font-base: "Inter", Areal, Sans-serif;
  --color-primary: #F17E00;
  --color-white: #FFFFFF;
  --color-bg: #27333A;
  --color-mirage: #162031;
  --color-chambray: #37567E;
  --color-silver-sand: #B9BFC3;
  --color-mercury: #E2E2E2;
  --color-scorpion: #585858;
  --color-mine-shaft: #585858;
}