.content p,
.p,
.content li,
.li {
	@include line-height(17, 27);
	@include large-tablet {
		@include line-height(15, 22);
	}
	@include large-mobile {
		@include line-height(13, 20);
	}
}

.content ul,
.content ol {
	list-style: none;
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 500;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-weight: 500;
}

.content p,
.p {
	margin-top: 2rem;
}


.h1,
.content h1 {
	@include line-height(76, 87);
	@include mackbook {
		@include line-height(70, 78);
	}

	@include large-desktop {
		@include line-height(60, 66);
	}

	@include large-mobile {
		@include line-height(26, 30);
	}
}

.h2,
.content h2 {
	@include line-height(72, 80);
}

.h3,
.content h3 {
	@include line-height(42, 50);
	@include large-tablet {
		@include line-height(30, 36);
	}
	@include large-mobile {
		@include line-height(20, 24);
	}
}

.h4,
.content h4 {
}

.h5,
.content h5 {
	@include line-height(20, 28);
	font-weight: 500;
	@include large-tablet {
		@include line-height(16, 22);
	}
	@include large-mobile {
		@include line-height(13, 18);
	}
}

.h6,
.content h6 {
	@include line-height(19, 23);
	font-weight: 500;
	@include large-tablet {
		@include line-height(16, 22);
	}
	@include large-mobile {
		@include line-height(13, 18);
	}
}
