section.about
    .container
        .about__inner.flex.flex_justify
            .about__cell.about__cell_left
              h2.about__title.h3.base-title(data-sub-title="кратко о нас") О компании «ЭнергоСтройМонтаж»
              .about__image
                  img(src="/img/about-image-1.jpg" alt="image").object-fit
            .about__cell.about__cell_right
                .about__content.content
                    h5 Обеспечение качественных решений для различных сфер промышленности
                    p Наша компания входит в список самых крупных предприятий Санкт-Петербурга в области создания, проектирования, монтажа и комплексного обеспечения объектов энергетики.
                    p В спектр наших услуг входит:
                ul.steps.about__steps
                    li.steps__item Строительство энергообъектов и пусконаладочные работы
                    li.steps__item Производство и поставка систем освещения;
                    li.steps__item Производство и поставка приборов и систем пожарной сигнализации;
                    li.steps__item Аренда спецтехники