section.about(id="section1")
    .container
        .about__inner.flex.flex_justify
            .about__cell.about__cell_left
              h2.about__title.h4.base-title(data-sub-title="кратко о нас") О компании «ЭнергоСтройМонтаж»
              .about__image
                  if (!aboutContent)
                    img(src="/img/about-image-1.jpeg" alt="image").object-fit
                  else
                    img(src="/img/about-image-2.jpeg" alt="image").object-fit
            .about__cell.about__cell_right
                .about__content.content(class=(!aboutContent ? 'about__content_light' : ''))
                    if (!aboutContent)
                        h5 Обеспечение качественных решений для различных сфер промышленности
                        p Наша компания входит в список самых крупных предприятий Санкт-Петербурга в области создания, проектирования, монтажа и комплексного обеспечения объектов энергетики.
                        p В спектр наших услуг входит:
                    else
                        h5 Обеспечение качественных решений для различных сфер промышленности
                        p ООО «ЭнергоСтройМонтаж» – одно из крупнейших предприятий в Санкт-Петербурге, специализирующееся на создании, проектировании, монтаже и комплексном обеспечении объектов энергетики. Мы входим в Топ-100 крупнейших компаний в
                            | данной области. Также наша компания является одним из крупнейших владельцев генерирующих активов на территории СЗФО. Стремимся предоставить высококачественные решения для любой отрасли промышленности независимо от объемов производства.
                        blockquote(cite="https://")
                            h6 Полный комплекс работ
                            p Выполняем полный комплекс работ по созданию энергообъектов, включая проектирование и строительство систем электроснабжения на промышленных предприятиях, общественных зданиях и сооружениях под ключ.
                        p Кроме того, мы производим и поставляем широкий спектр систем освещения для промышленных предприятий. Компания также предоставляет услуги аренды специализированной техники и имеет лицензию и необходимые разрешения на выполнение пусконаладочных работ на малых, средних и крупных производствах. Политика нашей компании заключается во внимательном отношении к каждому клиенту, грамотное ценообразование и четкое соблюдение сроков поставки и выполнения работ. Благодаря этому мы заслужили уважение крупнейших предприятий России, таких как ГУП «Петербургский метрополитен», ОАО «РЖД» и других крупных компаний.
                        blockquote(cite="https://")
                            h6 Работаем с февраля 2011
                            p Компания существует с февраля 2011 года и уже успела зарекомендовать себя как надежного партнера на российском рынке.
                        p Более 12 лет мы помогаем снижать стоимость проектов, выполняя широкий спектр работ по энергетическому оснащению предприятий.
                if (!aboutContent)
                    ul.steps.about__steps
                        li.steps__item Строительство энергообъектов и пусконаладочные работы
                        li.steps__item Производство и поставка систем освещения;
                        li.steps__item Аренда спецтехники
                        li.steps__item Производство и поставка приборов и систем пожарной сигнализации;
