section.advantages
    .container
        if (!advantagesLight)
            .advantages__top.flex.flex_justify
                h2.h2.base-title.advantages__top-title(data-sub-title="преимущества") Реализуем проекты <span class="color-blue">с 2011 г</span>
                .advantages__info
                    h5.h5.advantages__subtitle(data-da=".advantages__top-title, 580, last") Зарекомендовали себя, как надежного и ценного партнера на Российском рынке
                    +btn('#')(data-da=".advantages .container, 580, last").advantages__btn подробнее о компании
        .advantages__inner
            .advantages__bg
                img(src="/img/advantages-bg-1.jpeg?mobile" alt="").object-fit
            .advantages__items.flex
                .advantages__item.item
                    h6.h6.item__title Прозрачное ценообразование
                    p.item__text Предлагаем выгодные ценовые решения для клиентов, учитывая их потребности и возможности
                    .item__icon
                        +icon('tag')
                .advantages__item.item
                    h6.h6.item__title Квалифицированные специалисты
                    p.item__text У нас работают специалисты с высокой профессиональной квалификацией и большим опытом в проектировании и монтаже энергосетей
                    .item__icon
                        +icon('success')
                .advantages__item.item
                    h6.h6.item__title Весь спектр работ
                    p.item__text Осуществляем весь комплекс необходимых работ с экономией времени и денег клиента
                    .item__icon
                        +icon('underConstruction')
                .advantages__item.item
                    h6.h6.item__title Системы безопасности
                    p.item__text Осуществляем производство и поставку приборов и систем пожарной сигнализации
                    .item__icon
                        +icon('fireAlarm')
                .advantages__item.item
                    h6.h6.item__title Богатое портфолио
                    p.item__text Имеем портфолио выполненных проектов, с которым может ознакомится каждый наш клиент
                    .item__icon
                        +icon('presentation')
                .advantages__item.item
                    h6.h6.item__title Производство светотехнической продукции
                    p.item__text Осуществляем полный цикл производства светотехнической продукции по выгодным ценам
                    .item__icon
                        +icon('spotlight')
                .advantages__content(data-da=".advantages__inner, 980, last")
                    h3.advantages__title.h4 Гарантия качества
                    p.advantages__text Гарантируем высокий уровень качества нашей продукции и выполнения нами проектных <br> и монтажных работ
                    +btn('#')._border.advantages__link выполненные проекты