section.catalog
    .container
        .catalog__top
            h3.h3.base-title.catalog__title(data-sub-title="услуги") Каталог оборудования
        .catalog__items.flex
            a(href="#").catalog-item
                .catalog-item__image.absolute
                    img(src="/img/catalog-image-1.jpeg" alt="").object-fit
                .catalog-item__content
                    h5.h5.catalog-item__title.color-white Светотехническая продукция
                        +icon('arrowForward')
            a(href="#").catalog-item
                .catalog-item__image.absolute
                    img(src="/img/catalog-image-2.jpeg" alt="").object-fit
                .catalog-item__content
                    h5.h5.catalog-item__title.color-white Приборы и системы <br> пожарной сигнализации
                        +icon('arrowForward')