-
    var partnersSettings = {
        slidesPerView: 'auto',
        loop: true,
        pagination: {
            el: ".partners__pagination",
            dynamicBullets: true,
            dynamicMainBullets: 3,
            clickable: true
        },
        breakpoints: {
            580: {
                slidesPerView: 7
            }
        },
    }
section.partners
    .container
        .partners__top.flex.flex_justify.flex_bottom
            h2.h4.base-title.partners__title(data-sub-title="партнеры") Нам доверяют крупнейшие компании страны
            .slider-pagination.partners__pagination
        .swiper.partners__slider.js-slider(data-settings=partnersSettings)
            .swiper-wrapper
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-1.svg" alt="" width="90").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-2.svg" alt="" width="146").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-3.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-4.png" alt="" width="96").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-5.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-6.png" alt="" width="145").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-7.svg" alt="" width="67").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-1.svg" alt="" width="90").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-2.svg" alt="" width="146").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-3.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-4.png" alt="" width="96").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-5.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-6.png" alt="" width="145").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-7.svg" alt="" width="67").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-1.svg" alt="" width="90").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-2.svg" alt="" width="146").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-3.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-4.png" alt="" width="96").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-5.png" alt="" width="138").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="/img/partner-6.png" alt="" width="145").partners__image
                .swiper-slide
                    a(href="#").partners__link.flex.flex_center.flex_vertical
                        img(src="app/img/partner-7.svg" alt="" width="67").partners__image