section.project
    .container
        .project__inner.flex.flex_justify(data-sub-title="о проекте")
            .project__content
                .project__image
                    img(src="/img/project-image-1.jpeg" alt="").object-fit
                .content
                    h4 Комплексная реконструкция
                    p Комплексная реконструкция участка Мга-Гатчина-Веймарн-Ивангород и ж/д подходов к портам на южном берегу Финского залива.
                    h4 Строительство станции
                    p Строительство станции Лужская — Генеральная на полное развитие и соединительного пути Лужская —Нефтяная — Лужская — Генеральная.
            aside.project__aside
                blockquote.blockquote.blockquote_small.project__blockquote
                    span Начало реализации проекта:
                    strong.project__number 2020 г.
                blockquote.blockquote.blockquote_small.project__blockquote
                    span Окончание реализации проекта:
                    strong.project__number 2023 г.
                ul.project__list
                    li.project__item
                        span.project__name Заказчик:
                        span.project__text ООО «Компания»
                    li.project__item
                        span.project__name Тип выполняемых работ:
                        span.project__text комплексная реконструкция ж/д участка
                    li.project__item
                        span.project__name Адрес:
                        span.project__text Ленинградская обл., Кингисеппский р-р, с.п. Котельское, ст. «Лужская-Генеральная»
                    li.project__item
                        span.project__name Статус проекта:
                        span.project__text проект завершен