section.safety
    .container
        .safety__top.flex.flex_justify.flex_bottom
            h2.h4.base-title.safety__title(data-sub-title="безопасность") Охрана труда
        .safety__inner
            .safety__accordion.accordion
                .accordion__title.js-accordion
                    h3 Реквизиты
                    .accordion__icon
                        +icon('minus')
                        +icon('plus')
                .accordion__content
                    ul.requisites
                        li.requisites__item
                            strong.requisites__title Название
                            span.requisites__text Общество с ограниченной ответственностью «ЭнергоСтройМонтаж»
                        li.requisites__item
                            strong.requisites__title ИНН
                            span.requisites__text 7814492026
                        li.requisites__item
                            strong.requisites__title КПП
                            span.requisites__text 780201001
                        li.requisites__item
                            strong.requisites__title ОГРН
                            span.requisites__text 1117847051497
                        li.requisites__item
                            strong.requisites__title Юридический адрес
                            span.requisites__text 194156, г. Санкт-Петербург, вн. тер. г. Муниципальный округ Светлановское, пр-кт Энгельса, д. 27, лит. Ш, пом. 213
                        li.requisites__item
                            strong.requisites__title Расчетный счет
                            span.requisites__text 40702810618060007978
                        li.requisites__item
                            strong.requisites__title Банк
                            span.requisites__text Филиал «Центральный» БАНК ВТБ (ПАО) в г. Москва
                        li.requisites__item
                            strong.requisites__title БИК
                            span.requisites__text 044525411
            .safety__accordion.accordion
                .accordion__title.js-accordion
                    h3 Контакты
                    .accordion__icon
                        +icon('minus')
                        +icon('plus')
                .accordion__content
                    .safety__row.flex.flex_justify
                        .safety__cell.safety__cell_left
                            .contact-item.safety__contact-item
                                .contact-item__icon
                                    +icon('phone')
                                .contact-item__cell
                                    span.contact-item__title Телефоны:
                                    a(href="tel:+78123749999").contact-item__link +7 (812) 374-99-99 <br>
                                    a(href="tel:+78124948815").contact-item__link +7 (812) 494-88-15 <br>
                                    a(href="tel:+78123749991").contact-item__link +7 (812) 374-99-91 <br>
                                    a(href="tel:+78123749979").contact-item__link +7 (812) 374-99-79
                            .contact-item.safety__contact-item
                                .contact-item__icon
                                    +icon('email')
                                .contact-item__cell
                                    span.contact-item__title Электронная почта:
                                    a(href="mailto:info@energostm.ru").contact-item__link info@energostm.ru
                            .contact-item.safety__contact-item
                                .contact-item__icon
                                    +icon('clock')
                                .contact-item__cell
                                    span.contact-item__title Режим работы:
                                    span.contact-item__link Пн-Пт: с 09:00 до 18:00
                            .contact-item.safety__contact-item
                                .contact-item__icon
                                    +icon('map')
                                .contact-item__cell
                                    span.contact-item__title Адрес:
                                    span.contact-item__link 194156, г. Санкт-Петербург, вн. тер. <br> г. Муниципальный округ, Светлановское, пр-кт Энгельса, д. 27, лит. Ш
                        .safety__cell.safety__cell_right
                            .safety__map
                                iframe(src="https://yandex.ru/map-widget/v1/?ll=30.334166%2C60.006764&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjEzMDM4OTg5ElTQoNC-0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQv9GA0L7RgdC_0LXQutGCINCt0L3Qs9C10LvRjNGB0LAsIDI30KgiCg1grPJBFe0GcEI%2C&z=16.94" frameborder="1" allowfullscreen="true").absolute