mixin input (label, placeholder, name, icon)
    +e.input__(class=`${icon ? '_icon' : ''}`)&attributes(attributes)
        if(label)
            +e.label.p !{label}
        +e.parent
            if(icon)
                +icon(icon)
            +e.INPUT.field(name=name placeholder=placeholder type="text")