extends ../layouts/base
append vars
    - title = '404';
    - var header_class = "header_white"
block content
    .error-404
        img(src="app/img/404.svg" alt="").error-404__image
        .container
            .error-404__content
                h2.error-404__code 404
                h3.h3.error-404__title Что-то пошло не так
                span.error-404__text Страница не найдена
                +btn("#").error-404__btn Вернуться на главную