extends ../layouts/base
append vars
    - title = 'Комплексное обслуживание жд и гражданских объектов';
    - var cur = "services"
    - var breadcrumb = {items:['Главная', 'услуги'], last:'Комплексное обслуживание жд и гражданских объектов'}
    - var intro = {image: 'intro-bg-6.jpeg', title: 'Гарантируем качество любых инженерных сетей'}
block content
    include ../modules/introLight
    +services('services-2.jpeg', {sub:'об услуге', name: 'Гарантируем качество любых инженерных сетей'})
        h5 Наша компания предлагает полный спектр услуг по комплексному обслуживанию объектов, включая как железнодорожные, так и гражданские сооружения.
        p Мы специализируемся на обслуживании следующих систем:
        ul
            li теплоснабжение: обеспечиваем эффективную работу системы теплоснабжения, поддерживая комфортные условия внутри помещений;
            li энергетические системы: гарантируем бесперебойную подачу энергии, следим за работоспособностью оборудования;
            li водоснабжение: обеспечиваем надежную подачу чистой воды, контролируем работу всех элементов системы;
            li вентиляция и кондиционирование: поддерживаем оптимальные условия воздушного режима в помещениях для комфортной работы и пребывания;
            li видеонаблюдение: обеспечиваем надежное функционирование системы видеонаблюдения для обеспечения безопасности объекта;
            li оповещение при пожаре и пожаротушение: гарантируем своевременное оповещение и принятие мер по тушению пожаров для обеспечения безопасности всех присутствующих;
            li освещение: обеспечиваем надежную работу системы освещения для комфортной и безопасной эксплуатации объекта.
        p Мы готовы обеспечить надежное и бесперебойное функционирование всех систем вашего объекта. Наш опыт и профессионализм гарантируют высокий уровень сервиса.
        +btn() связаться с нами
