extends ../layouts/base
append vars
	- title = 'Главная страница';
	- var cur = "main"
block content
	include ../modules/intro
	include ../modules/about
	include ../modules/advantages
	include ../modules/partners
	include ../modules/feedback
	include ../modules/safety