extends ../layouts/base
append vars
    - title = 'Текстовый блок ';
    - var cur = "news"
    - var header_class = "header_white"
block content
    .page
        .container
            .page__content.content
                h3 Разработка технического задания <br> и проектирование
                h5 Предлагаем комплексное решение задач, связанных с энергообеспечением вашего предприятия, начиная от разработки технического задания до проектирования и внедрения энергосистем.
                p В своей работе используем современные технологии и высококачественное оборудование для создания надежных и эффективных систем, соответствующих современным требованиям и стандартам.
                p В проектирование системы электроснабжения входит:
                ul
                    li разработка и согласование технического задания на проектирование системы электроснабжения;
                    li обследование объекта для определения технических параметров, проблем и возможностей улучшения электрической сети;
                    li разработка проектной документации на проектирование системы электроснабжения в соответствии со всеми нормативными и техническими требованиями.
                p Мы стремимся создавать простые, надежные и эффективные решения, которые могут работать максимально эффективно в различных условиях. Такие системы повысят эффективность работы вашего предприятия.
