extends ../layouts/base
append vars
    - title = 'Аренда спецтехники';
    - var cur = "services"
    - var breadcrumb = {items:['Главная', 'услуги'], last:'Аренда спецтехники'}
    - var intro = {image: 'intro-bg-7.jpeg', title: 'Предлагаем удобные условия аренды и качественное обслуживание <br> при минимальных расходах'}
    - var galleryImages = ['gallery-item-7.jpeg', 'gallery-item-8.jpeg', 'gallery-item-9.jpeg']
    - var galleryTitle = 'Наш автопарк спецтехники'
block content
    include ../modules/introLight
    +services('services-3.jpeg', {sub:'спецтехника', name: 'Аренда спецтехники'})
        h5 Сдача в аренду строительной техники является востребованной услугой в сфере строительства и ремонта. Это позволяет предприятиям и частным лицам временно обеспечить себя необходимым оборудованием без необходимости его покупки.
        p Аренда строительной техники имеет ряд преимуществ. Прежде всего, это заметная экономия затрат. Приобретение необходимой техники может требовать существенных инвестиций, в то время как аренда позволяет пользоваться оборудованием по мере необходимости. Кроме того, ответственность за обслуживание и ремонт ложится на арендодателя, что освобождает клиента от дополнительных забот.
        p Также аренда строительной техники обладает высокой гибкостью. Клиенту всегда доступна разнообразная выборка оборудования, позволяющая адаптировать его к конкретным задачам. Например, можно арендовать экскаватор для земляных работ, кран для подъема материалов или автокран для погрузки и разгрузки грузов. Более того, аренда позволяет владельцу оценить эффективность определенного типа машины перед ее покупкой.
        p Однако, при аренде строительной техники следует учесть некоторые моменты. Важно выбрать надежного арендодателя, который предоставит оборудование в хорошем состоянии и сопроводит его необходимой документацией. Кроме того, клиенту следует учесть все необходимые требования по безопасности и обучить персонал, работающий с арендованной техникой.
        blockquote(cite="https://")
            h6 Качественное оборудование
            p Выполняем полный комплекс работ по созданию энергообъектов, включая проектирование и строительство систем электроснабжения на промышленных предприятиях, общественных зданиях и сооружениях под ключ.
        p Компания ООО «ЭнергоСтройМонтаж» предоставляет следующие виды техники в аренды:
        ul
            li автокран для погрузки и разгрузки грузов;
            li кран для подъема материалов;
            li экскаватор колесный;
            li экскаватор гусеничный;
            li автомотрисы дизельные монтажные модернизированные (АДМ-1);
            li бортовой автомобиль КАМАЗ-43118, Fuso cante с краном-манипулятором;
            li грузовые фургоны;
            li агрегат вибропогружения АВФ-1;
            li строительная люлька фасадная для монтажных работ и работ по фасаду;
            li автокран XCMG 25 тонн
        +btn() связаться с нами
    include ../modules/gallery