extends ../layouts/base
append vars
    - title = 'проектирование';
    - var cur = "services"
    - var galleryImages = ['gallery-item-4.jpeg', 'gallery-item-5.jpeg', 'gallery-item-6.jpeg']
    - var breadcrumb = {items:['Главная', 'услуги'], last:'проектирование'}
    - var intro = {image: 'intro-bg-5.jpeg?mobile', title: 'Более 12 лет в проектировании систем электроснабжения'}
    -
        var items = [
            {
                title: 'Комплексное проектирование',
                text: 'Возьмем на себя широкий спектр работ: от обследования объекта до составления технической документации',
                icon: 'document'
            },
            {
                title: 'Современные технологии',
                text: 'Применяем богатый <br> опыт и используем качественное оборудование для создания надежных систем',
                icon: 'technique'
            },
            {
                title: 'Эффективные системы',
                text: 'Создаем простые в управлении и надежные системы, которые решают ваши бизнес-задачи',
                icon: 'systems'
            },
            {
                title: 'Бесплатные консультации',
                text: 'Оставьте заявку, и наш специалист перезвонит, чтобы предложить лучшее решение для вашего предприятия',
                icon: 'consultations'
            }
        ]
block content
    include ../modules/introLight
    +services('services-1.jpeg', {sub:'об услуге', name: 'Проектирование систем электроснабжения на предприятиях'})
        h5 Предлагаем комплексное решение задач, связанных с энергообеспечением вашего предприятия, начиная от разработки технического задания до проектирования и внедрения энергосистем.
        p В своей работе используем современные технологии и высококачественное оборудование для создания надежных и эффективных систем, соответствующих современным требованиям и стандартам.
        p В проектирование системы электроснабжения входит:
        ul
            li разработка и согласование технического задания на проектирование системы электроснабжения;
            li обследование объекта для определения технических параметров, проблем и возможностей улучшения электрической сети;
            li разработка проектной документации на проектирование системы электроснабжения в соответствии со всеми нормативными и техническими требованиями.
        p Мы стремимся создавать простые, надежные и эффективные решения, которые могут работать максимально эффективно в различных условиях. Такие системы повысят эффективность работы вашего предприятия.
    +advantages({
        name: 'Разработка технического задания <span class="color-blue">и проектирование</span>',
        sub: 'что вы получите',
        tag: 'h3'
    }, 'Свяжитесь с нами, чтобы обсудить свои требования и получить нашу консультацию по проектированию системы электроснабжения на вашем промышленном предприятии.', 'связаться с нами', false, items).advantages_margin
    include ../modules/gallery