footer.footer
    .footer__inner
        .container
            .footer__row
                .footer__cell
                    h3.footer__title.h6 Контактная информация
                    ul
                        li
                            a(href="tel:+78123749999") +7 (812) 374-99-99 <br>
                            a(href="tel:+78124948815") +7 (812) 494-88-15 <br>
                            a(href="tel:+78123749991") +7 (812) 374-99-91 <br>
                            a(href="tel:+78123749979") +7 (812) 374-99-79
                        li
                            a(href="mailto:info@energostm.ru") info@energostm.ru
                        li Санкт-Петербург, вн. тер. <br> г. Муниципальный округ Светлановское, <br> пр-кт Энгельса, д. 27, лит. Ш
                        li Пн-Пт: с 09:00 до 18:00
                .footer__cell
                    h3.footer__title.h6 Информация
                    ul
                        li
                            a(href="#") Главная
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Проекты
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Контакты
                .footer__cell
                    h3.footer__title.h6 Услуги
                    ul
                        li
                            a(href="#") Проектирование
                        li
                            a(href="#") Строительно-монтажные работы
                        li
                            a(href="#") Строительство зданий
                        li
                            a(href="#") Производство
                        li
                            a(href="#") Аренда спецтехники
                        li
                            a(href="#") Комплексное обслуживание ж/д и <br> гражданских объектов
    .footer__copyright
        .container
            p © ООО «ЭнергоСтройМонтаж» 2023. Все права защищены.