header.header(class=header_class)
    .header__inner.flex.flex_vertical.flex_justify
        .logo.header__logo
            a(href="#").logo__link
                +icon('logo')
                //img(src="app/img/logo.svg" alt="Энерго Строй Монтаж").logo__image
        nav.menu.header__menu
            ul.menu__list
                li(class=(cur === "main" ? "is-active" : undefined))
                    a(href="main.html") Главная
                li(class=(cur === "about" ? "is-active" : undefined))
                    a(href="about.html") О компании
                li(class=(cur === "services" ? "is-active" : undefined))
                    a(href="services.html") Услуги
                    span.menu__icon.table-show.js-dropdown
                        +icon('arrowForward')
                    ul.dropdown
                        li
                            a(href="services.html") Проектирование
                        li
                            a(href="services.html") Строительно-монтажные работы
                        li
                            a(href="services.html") Строительство зданий
                        li
                            a(href="production.html") Производство
                        li
                            a(href="rent.html") Аренда спецтехники
                        li
                            a(href="maintenance.html") Комплексное обслуживание ж/д <br> и гражданских объектов
                li(class=(cur === "projects" ? "is-active" : undefined))
                    a(href="projects.html") Проекты
                li(class=(cur === "news" ? "is-active" : undefined))
                    a(href="#") Новости
                li(class=(cur === "contacts" ? "is-active" : undefined))
                    a(href="contacts.html") Контакты

            +btn().header__btn.table-show Заказать звонок
        a(href="tel:+78123749999").phone.header__phone.flex_inline.flex_vertical
            .phone__icon
                +icon('phone')
            span.phone__text +7 (812) 374-99-99
        a(href="mailto:info@energostm.ru").email.header__email.flex_inline.flex_vertical
            .phone__icon
                +icon('email')
            span.phone__text info@energostm.ru
        +btn().header__btn.table-hidden Заказать звонок
        button.hamburger.js-hamburger
            +icon('hamburgerOpen')
            +icon('hamburgerClose')