.dropdown {
  position: absolute;
  min-width: 33rem;
  color: var(--color-white);
  background-color: var(--color-mirage);
  font-weight: 500;
  @include line-height(15, 24);
  top: calc(100% + 2.2rem);
  transition: all linear .2s;
  left: 0;
  opacity: 0;
  visibility: hidden;
  &::before {
    content: '';
    position: absolute;
    top: -2.2rem;
    width: 100%;
    left: 0;
    height: 2.2rem;
  }
  @include large-tablet {
    position: static;
    width: 100%;
    transition: none;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  @include large-mobile {
    @include line-height(13, 20);
  }
  li {
    list-style: none;
    transition: all linear .2s;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-chambray);
      @include large-tablet {
        border-bottom: none;
      }
    }
    &:hover {
      background: rgba(255, 255, 255, 0.10);
    }

  }
  a {
    padding: 2rem 3rem;
    display: block;
    @include large-tablet {
      padding: .5rem 1rem;
      color: rgba(255, 255, 255, 0.50);
    }
  }
}