.input,
.textarea {
  &_gray {
    .input,
    .textarea {
      &__placeholder {
        color: var(--color-dove-gray);
      }
      &__field {
        border-bottom-color: rgba(21, 23, 26, 0.10);
        color: var(--color-bg);
      }
    }
  }
  &_fluid {
    width: calc(50% - 3rem);
    @include large-mobile {
      width: 100%;
    }
  }
  &__parent {
    position: relative;
    .error {
      position: absolute;
      display: block;
      line-height: 1em;
      font-size: 1rem;
      color: var(--color-red);
      bottom: 1rem;
      white-space: nowrap;
      transition: all linear .2s;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.is-focus {
      .input,
      .textarea {
        &__placeholder {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &.error {
      .input,
      .textarea {
        &__placeholder {
          padding-bottom: 1rem;
          color: var(--color-red);
        }
        &__field {
          color: var(--color-red);
          border-color: var(--color-red);
          padding-bottom: 1rem;
        }
      }
    }
  }
  &__placeholder {
    position: absolute;
    font-size: 1.6rem;
    left: 0;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-mercury);
    transition: all linear .2s;
    @include large-mobile {
      font-size: 1.3rem;
    }
  }
  &__field {
    display: block;
    background-color: transparent;
    border: none;
    height: 5.8rem;
    border-bottom: 1px solid var(--color-white);
    font-size: 1.6rem;
    color: var(--color-white);
    width: 100%;
    transition: all linear .2s;

    @include placeholder {
      display: none;
    }
    @include large-mobile {
      font-size: 1.3rem;
    }
  }
}
.textarea {
  &__field {
    resize: none;
    height: 20rem;
    padding: 2rem 0;
    @include large-tablet {
      height: 15rem;
    }
    @include large-mobile {
      height: 10rem;
    }
  }
  &__placeholder {
    top: 2rem;
    transform: translateY(0);
  }
}