.accordion {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-mercury);
    padding: 1.5rem 0;
    cursor: pointer;
    &.is-active {
      .icon {
        &-plus{
          opacity: 1;
          visibility: visible;
        }
        &-minus {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  &__icon {
    width: 5.6rem;
    height: 5.6rem;
    flex-shrink: 0;
    padding: 1.6rem;
    background-color: var(--color-primary);
    position: relative;
    .icon {
      fill: var(--color-white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all linear .2s;
      width: 2.4rem;
      height: 2.4rem;
      &-plus {
        opacity: 0;
        visibility: hidden;
      }
      &:not(.icon-plus) {
        stroke: var(--color-white);
        stroke-width: 2px;
      }
    }
    @include large-mobile {
      width: 4.5rem;
      height: 4.5rem;
      padding: 1.2rem;
    }
  }

  &__content {
    padding: 3rem 0;
    @include large-mobile {
      padding: 1rem 0;
    }
  }
}